@use "./vari.scss" as *;
@use "./tool.scss" as *;
@use "./header.scss" as *;
@use "./ref.scss" as *;
@use "./about.scss" as *;
@use "./contact.scss" as *;
@font-face 
{
    font-family: Routtage;
    src: url(../fonts/Routtage.ttf);
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    
}
p, h2, h3
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.body
{
    z-index: -1;
    width: 100%;
    
    display: grid;
    grid-template-columns:  
    1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
    "jumbobild jumbobild jumbobild jumbobild"
    "main main main main"
    "main main main main"
    "main main main main"
    "content content content content"
    "content content content content"
    "footer footer footer footer";
}
.main
{
    grid-area: main;
    background-color: $font_colortwo;
    color: $font_color;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .main_box 
    {
        width: 100vw;
        p, h2 
        {
            padding: 0px 10px 0px 10px;
            a 
            {
                color: $font_color;
                text-decoration: none;
                
                
            }
        }
    }
    & div:nth-child(even)
        {
            
            background-color: $prime_bg_color;
            color: $special;
        }
    
    

}
.content
{
    grid-area: content;
    width: 100vw;
    background-color: $font_colortwo;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .content_box 
    {
        margin-bottom: 10px;
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    & div:nth-child(even)
        {
            width: 100%;
            background-color: $prime_bg_color;
        }
}
.footer
{
    grid-area: footer;
    background-color: $prime_bg_color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 12px;
    width: 100vw;
    border-top: 1px solid $font_color;
}




.jumbobild
{
    grid-area: jumbobild;
    .bild
    {
        width: 100vw;
        height: 100vh;
        background-image: url(../bilder/88-883933_php-programing.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .jumbo_text_bg
        {
            width: 80vw;
            height: 80vh;
            background-color: rgba(90, 90, 90, 0.459);
            color: $font_colortwo;
            display: flex;
            justify-content: center;
            align-items: center;
            .jumbo_text
            {
           
            h2 
            {
                font-size: 4rem;
            }
            p 
            {
                font-size: 2rem;
                margin-top: 5px;
                padding-left: 14px;
                text-decoration: underline;
            }
            a
            {
                color: $font_colortwo;
                text-decoration: none;
                &::after
                    {
                        font-size: 1rem;
                        margin-left: 5px;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 600; 
                        content: "\f0c1";
                        color: $special;
                    }
            }
            }
            
        }
    }
}

    




@media (min-width: 1000px)
{
    .body
    {
       
        width: 100%; 
        display: grid;
        grid-template-columns:  
        1fr 1fr 1fr 1fr;

        grid-template-areas: 
        
        "jumbobild jumbobild jumbobild jumbobild"
        "main main main main"
        "main main main main"
        "main main main main"
        "content content content content"
        "content content content content"
        "footer footer footer footer";
    }

    
   
    .main
    {
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .main_box
        {
            width: 50vw;
            padding-top: 10px;
        }
    }
    .header_hack
    {
        display: none;
    }
    .jumbobild
    {
        margin-top: 4rem;
    }
    
    
}







